<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
<header class="header-page">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

  <div class="container">
    <h1 class="site-title-handwritten-2"><a href="{{ "/index.html" }}">{{ site.title }}</a></h1>
    <nav>
      <ul class="social-icons">
        <li>
          <a href="{{ " /portfolio" }}">
            <i class="fa-solid fa-mug-hot"></i> 
          </a>
        </li>
        <li>
          <a href="https://github.com/seu-usuario" target="_blank" aria-label="GitHub">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/seu-usuario" target="_blank" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="mailto:seu-email@gmail.com" target="_blank" aria-label="Email">
            <i class="fa-solid fa-envelope"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
 -->

<header class="site-header-minimal">
  <div class="header-container-minimal">

    <nav class="site-nav-minimal">
      <ul>
        <li><a href="{{ "/index.html" | relative_url }}">Início</a></li>
        <li><a href="{{ "/portfolio/" | relative_url }}">Portfólio</a></li>
        <li>
          <a href="https://github.com/fernandodxx" target="_blank" aria-label="GitHub">
            <i class="fa-brands fa-github">Github</i>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/fernando-santoss" target="_blank" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin">Linkedin</i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>