.rodape {
  background-color: #282a36;
  color: white;
  width: 100%; // O footer ocupa toda a largura
  font-size: 14px;
  font-family: helvetica;
  padding: 20px;
}

.rodape p {
  margin-bottom: 5px;
}




.rodape-direitos {
  width: 100%; // Garante que ocupa toda a largura
  margin: 0;
  text-align: center;
}
