body {
  background: var(--bg-primary);
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
  color: var(--text);
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}


main#main-content {
  flex: 1;
  background-color: var(--bg-primary); /* Garante que o fundo primário seja aplicado aqui */
  color: var(--text-primary); /* Cor de texto padrão */
  min-height: 100vh; /* Opcional: Garante que o main ocupe pelo menos a altura da tela */
  display: flex; /* Para flexibilidade na organização de seções */
  flex-direction: column;
  box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura/altura */
}

h1,
h2,
h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: var(--accent-hover);
  }
}