body {
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
  background: #1a1a1a;
  color: #F2F2F2;
  height: 100%; // Garante que a altura da página seja 100%
  width: 100%;
  display: flex;
  flex-direction: column; // Organiza o layout em uma coluna
}

#main-content {
  flex: 1; // Faz com que o conteúdo principal ocupe o espaço disponível
}

h1,
h2,
h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: #1203df;
  }
}